@use 'variables' as v;

// Media querys
@mixin telefono {
    @media (max-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (max-width: v.$desktopXL) {
        @content;
    }
}

// Displays
@mixin grid($columns, $size, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($columns, $size);
    gap: $gap;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Botones
@mixin boton {
    width: 100%;
    padding-block: 1rem;
    font-size: v.$fs-200;
    border-radius: .5rem;

}

@mixin boton-primario($clr-principal, $clr-secundario) {
    @include boton;
    background-color: $clr-principal;
    color: $clr-secundario;
}