@use '../globales/variables' as v;
@use '../globales/mixins' as m;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: inherit
}
html {
    font-size: 62.5%;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;

    font-size: 1.6rem;
    font-family: v.$ff-primario;
    background-color: v.$clr-secundario-200;
}
img {
    max-width: 100%;
}

// Helpers
.contenedor {
    display: grid;
    place-items: center;
    gap: 8rem;
    max-width: 900px;
    margin: 1.5rem;
}
