//? Colores
$clr-primario-100: hsl(184, 14%, 56%);
$clr-primario-200: hsl(186, 14%, 43%);
$clr-primario-300: hsl(183, 100%, 15%);

$clr-secundario-100: hsl(189, 41%, 97%);
$clr-secundario-200: hsl(185, 41%, 84%);
$clr-secundario-300: hsl(172, 67%, 45%);

$clr-neutral-100: hsl(0, 0%, 100%);

//? Tipografia
$ff-primario: 'Space Mono', monospace;
$fw-bold: 700;

$fs-100: 1.6rem;
$fs-200: 2.4rem;
$fs-400: 3rem;

//? Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 992;
$desktopXL: 1200px;
